[2018-01-10 18:25] DarrenfJ opened #1 "Updating read.me with links to git/GitHub training"
the P1xt guides (link: https://github.com/P1xt/p1xt-guides )

have an FAQ with some great links to git and GitHub training. I think if we're attracting new people to play around here it would be nice to have some information around using the tool.

FAQ: https://github.com/P1xt/p1xt-guides/blob/master/faq.md

[2018-01-10 18:26] DarrenfJ opened #2 "Add to read.me links to free markdown training"
Similar to the last issue ( https://github.com/RomchyFCC/collaborative_effort/issues/1 ) we could add some links to markdown tutorials.

[2018-01-10 18:31] DarrenfJ opened #3 "updating read.me to make it more inviting"
don't have specifics but I know in some of the Open Source discussions in the fCC forums, people had tips and tricks for helping newbie coders contribute.

leaving this link here. Will explore and add issues/next steps as I go

https://forum.freecodecamp.org/search?q=open%20source

[2018-01-10 22:06] DarrenfJ commented on #3
this is the link to forum for some ideas on how to make it more inviting...

(thanks JacksonBates https://github.com/JacksonBates )

https://forum.freecodecamp.org/t/join-an-open-source-community/161163/10

[2018-01-11 13:57] RomchyFCC commented on #3
ok, added the contributions page, thanks!

[2018-01-11 13:59] RomchyFCC commented on #1
I would love it if you do this one, I can't make it fit well with the contributions doc

[2018-01-11 14:00] #3 closed

[2018-01-11 14:00] RomchyFCC commented on #2
I suggest the shay howe html and css tutorial, well written guide, thoughts?

[2018-01-15 21:33] DarrenfJ commented on #1
OK, maybe add a folder just for a read.me that is a linkFarm for supporting docs and training for anyone who wants to contribute?

[2018-01-15 21:35] DarrenfJ opened #4 "Projects set up for progress?"
Did we want to use the GitHub built in project area to make up *fake* tasks so we have some sort of continuous progress to keep practicing with GitHub?

[2018-01-16 11:23] RomchyFCC commented on #4
Didn't know that exists, we do want to use that yes. How can we set it up?

[2018-01-16 11:33] RomchyFCC commented on #2
is that what you had in mind?

if you have any guides you can freely add them

[2018-01-16 11:35] RomchyFCC commented on #1
Since this issue and the 2nd issue are the same I closed this one and continued the dialogue there

[2018-01-16 11:35] #1 closed

[2018-01-16 20:49] DarrenfJ commented on #1
awesome, thanks man.

D

[2018-01-16 20:51] DarrenfJ commented on #4
I took a quick look and it seems to act like a pared down trello board...

but only you have the ability to create a project...

that said, I have forked the repo and can add stuff there and maybe do a PR for anything I add to a Project board?

This is all part of the fun of learning :D

[2018-01-16 20:53] DarrenfJ commented on #2
Yah.. I think as a 'project' this repo should be us building a website that
helps others build their own projects specifically to learn GitHub as well..

It's a bit *meta* a project about project to build this exact project.. but
really the best purporse of this could be to create something that give an
initial guide and links to DIYing this same idea for others..

On Tue, Jan 16, 2018 at 6:33 AM,

[2018-01-16 20:57] DarrenfJ commented on #2
from issue 1:

the P1xt guides (link: https://github.com/P1xt/p1xt-guides )

have an FAQ with some great links to git and GitHub training. I think if we're attracting new people to play around here it would be nice to have some information around using the tool.

FAQ: https://github.com/P1xt/p1xt-guides/blob/master/faq.md

Markdown tutorials:

https://www.markdowntutorial.com/

http://commonmark.o

[2018-01-16 22:19] DarrenfJ commented on #2
I'm looking at how it's done here: https://github.com/P1xt/p1xt-guides

and it's a series of fileName.md markdown files that are linked.. I can set something up like that for training/learning links

[2018-01-16 23:26] DarrenfJ commented on #2
Also noticed when I updated my fork that you already added the folder and markdown.. so might just add these in as a Pull request from my own repo...

[2018-01-17 05:19] RomchyFCC commented on #4
Yea exactly what i was thinking. If this won't progress as needed we will quickly switch to a group project you talked about.

In the mean time I'll try to find more interested people to join.

I think the forks and PR's should work though (for now at least)

[2018-01-17 05:22] DarrenfJ commented on #4
OK, will add a Project to mine and try to do a PR for that change to you

[2018-01-17 05:24] RomchyFCC commented on #2
You should totally add these as a PR so we find out if it works or not.

We put the "cheat sheets" in one folder and guides in the other, right now they are both in the same file.

[2018-01-19 08:34] DarrenfJ commented on #4
PR seems to only work for code changes.. I've made some issue changes and project additions but when i compare across forks no changes are logged.

[2018-01-19 16:47] RomchyFCC commented on #2
Ok so this is done, what else should we do now on the whole scale idea?

Should we get down to coding aswell?

So far this has been on the back burner on my side

[2018-01-19 20:40] DarrenfJ commented on #4
"from what i've seen you only change on your end, when you create a pull
request, I get to look at it and merge if it's ok"

yes, that's the idea. that way I make a change and ask you to pull it into
the main repo

'though given you are also the contributor, I'm fairly certain you have
that power as well,'

I do now, yes. Found that out accidentally on last night first pull request
where I merged

[2018-01-19 20:45] DarrenfJ commented on #2
I think we can use issues and the Project trello board to map out how we
want the code to expand. I'm envisioning some sort of thing that allows you
to set up your own repo, the walks you through a series of steps to start
building a site that is a mirror of this site...

the details of each step are a learning process to using git/GitHub.

Something along the lines of this.. where the guide is ac

[2018-01-20 13:04] RomchyFCC commented on #2
Ok, I have some thoughts on that, we can make a website, where everyone would start with just writing their name in the file or their username. It would be a webpage or just a comment, I don't mind either way, we don't need something professional or working, as long as the main code doesn't break and it displays all the names, we are good to go. It would also be good to scale to infinity, the more

[2018-01-21 23:13] DarrenfJ commented on #2
Sounds like a good place to start as any...

[2018-01-22 09:11] RomchyFCC commented on #2
ok, will start working on a prototype as soon as i'm done with my scheduled designs, I see you made 2 of these your project, is that the project "trello board" you were talking about :O?

[2018-01-22 16:57] DarrenfJ commented on #2
Yah, they're just projects but they're not assigned to anybody yet.

I've used trello before ( https://trello.com/ ) and the project section of
GitHub has a very similar feel to it..

Issues can be tracked as a 'card' in a project, but also you can just
create cards separately as their own thing.. Allows you/me to track a to-do
list in a very much more dynamic way.

On Mon, Jan 22, 2018 at 4:11 AM

[2018-01-26 10:27] #2 closed

[2018-01-26 10:29] RomchyFCC commented on #4
Ok this issue has a great name, hopefully for now it is set up to progress, but obviously there might be more things to do. Right now we are banking on people to follow along with the forking and pull requesting but what if it doesn't stick, default back to the back and forth between us or does any other idea pop up?

[2018-01-26 17:22] DarrenfJ commented on #4
Short term, while we build, we practice with GitHub..

Well long term would be a guide so people could pair-program, set up a
similar repo and do the same.. essentially creating a duplicate project to
propagate the tutourial.. and get git gitHub experience in the process...

Will try to map out what I mean a bit more...

On Fri, Jan 26, 2018 at 5:29 AM, Roman <notifications@github.com> wrote:

[2018-02-05 05:34] DarrenfJ opened #14 "It's Sunday night, so let's change the background colours of the gradient for the week of Feb 5th to Feb 11th"
Sunday night requesting a change to the background colors of the page.

If you look at the CSS [here](https://github.com/RomchyFCC/GitHub-Practice-For-All/blob/master/The%20Website/style.css) you can see:

[code]

Let's change the `background: linear-gradient(90deg, purple, blue);`to something new.

You decide the [angle](https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient) and [color

[2018-02-05 07:33] #4 closed

[2018-02-05 07:42] RomchyFCC commented on #14
Issue resolved, thanks @Sacheec47

[2018-02-05 07:42] #14 closed

[2018-02-07 18:25] RomchyFCC opened #18 "Switching name positions randomly on the page"
1. pick a random name
2. find the selector it has(if it doesn't have one, you should add it)
3. give it a position of absolute
4. give it a random number of top and left
5. repeat 2 times

example CSS would be:
[code]

[2018-02-11 15:05] RomchyFCC commented on #18
This issue is now resolved, thanks to mills3.

[2018-02-11 15:05] #18 closed

[2018-02-14 23:31] DarrenfJ opened #24 "Add a Div style in the CSS"
time to start redesigning the layout.

I want to start by building out the divs and need to see what they look like on the page right now

add a div in the css like so:

[code]

and add borders to it. here is info on [borders](https://developer.mozilla.org/en-US/docs/Web/CSS/border)

[2018-02-14 23:32] DarrenfJ opened #25 "Change background on co-creator class to some gradient"
need someone to go into the .co-creator class and add a gradient border there

we have a similar one in the body:

[code]

you decide on how you want it to go. [Info here](https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient)

[2018-02-16 13:15] bracar commented on #25
@DarrenfJ   This issue was taken and completed, thanks for the exercise

[2018-02-16 15:01] #25 closed

[2018-02-16 15:34] dmac0505 commented on #24
I added some borders to the divs in the CSS file. I'm not sure what is considered 'claiming' the issue - perhaps this comment is considered 'claiming' it? :) Thanks.

[2018-02-16 16:20] RomchyFCC commented on #24
this comment is indeed considered claiming the issue, it prevents 2 people working on the same issue in a team, it's good practice to let everyone know what you're up to :) thanks for claiming it!

[2018-02-16 16:20] #24 closed

[2018-02-16 16:28] dmac0505 commented on #24
Ok great thanks!

[2018-02-16 16:47] RomchyFCC opened #29 "A bit of a challenge!"
I added a javascript file to our project and now we need someone to add a secret code to our program.

This can be done with a global event listener:
`window.addEventListener`

We listen for keys which we can save into a variable like an array.
`let secretArray = ['r', 'o', 'm', 'c', 'h', 'y']`

And when someone types the correct sequence of characters something magical can happen. (hint/idea alre

[2018-02-16 16:59] RomchyFCC opened #30 "Add an image to spice things up!"
Let's try to spice things up with a simple picture.

The picture can be set up as a background in css:
`background: url('./img/cat.jpg')`

or in the html:
`<img src="./img/cat.jpg">`

Your job is to find a random image which you like, make a new folder in our website folder and place that image there.
Ideally it would look something like this repofolder/The website/img/doggo.gif.

Once that is don

[2018-02-19 14:45] mills3 commented on #29
I'll  do this, unless you want to leave it for people who haven't contributed yet?

[2018-02-19 16:49] RomchyFCC commented on #29
Go ahead, we have easier issues as well for those who would like to contribute for the first time but don't want to write their names :)

[2018-02-19 17:32] DarrenfJ opened #33 "enhancements to div (padding and border styles)"
recently I've been working on the [net ninja](https://www.thenetninja.co.uk/) material as part of [@P1xt](https://github.com/P1xt/p1xt-guides#summary) 'don't suck at CSS [challenge](https://medium.com/p1xts-blog/lets-make-november-suck-less-at-css-month-7fa7c80b5387)'

( youtube channel [here](https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg) )

I'm at the part about [border styles](https:

[2018-02-19 18:00] DarrenfJ opened #34 "Add your name anywhere in the html"
this is the first-timers-only issue.

feel free to add  as per [the instructions](https://github.com/RomchyFCC/GitHub-Practice-For-All/blob/master/README.md) on the read-me

[2018-02-19 20:04] mills3 commented on #29
Is it ok to make a pull request when my fork is 3 commits behind? ( forgot to fetch upstream before making changes  )

[2018-02-19 22:15] mills3 commented on #29
OK, I'm back in sync, i think :)

[2018-02-20 06:25] RomchyFCC commented on #29
That's exactly why we have this, i'm glad you encountered this! When working in a team, you should always make sure you are on the most recent branch before starting your work, I'm happy you resolved it.
Well done on the challenge as well!

[2018-02-20 06:25] #29 closed

[2018-02-20 10:10] GoddessMaat commented on #34
Yes I'm a newbie. Can you help me

[2018-02-20 15:52] DarrenfJ commented on #34
Hi @GoddessMaat, for starters, the read me on the main page has links and instructions.. but to summarize: You need to fork the repository, then create a clone on your local machine.. make any changes there, push the changes to your forked repository, then do a pull request that will allow us to merge your changes into the main repository here.

Here is a good article to stat explaining it all: ht

[2018-02-21 06:03] RomchyFCC opened #43 "Change the secret code"
What do you mean secret code??!

Well our website, thanks to @mills3 currently contains a secret code, which, if typed, displays a hidden picture.

Find that code(hint: look at the JavaScript file) and change it to something even more secret, or not, totally up to you!

If you are feeling adventurous and really understand what the code does, you can also change what happens when the secret code is

[2018-02-21 08:15] h1tag commented on #30
Hey, is this still up for grabs? Because I see that someone already has added an image.

[2018-02-21 10:21] RomchyFCC commented on #30
It is, that image was part of the secret code challenge :)

[2018-02-21 18:04] RomchyFCC commented on #30
Issue resolved, thanks @h1tag

[2018-02-21 18:04] #30 closed

[2018-02-21 20:05] DarrenfJ opened #46 "Adding the first-timers-only 'friendly' badge to the main page read.me"
please add the following [markdown](https://daringfireball.net/projects/markdown/syntax#philosophy) to the [read.me](https://github.com/RomchyFCC/GitHub-Practice-For-All/blob/master/README.md)

[![first-timers-only](http://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square)](http://www.firsttimersonly.com/)

[2018-02-21 20:06] DarrenfJ commented on #46
the code needed to do that is as follows:

`[![first-timers-only](http://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square)](http://www.firsttimersonly.com/)`

[2018-02-22 03:24] danielleshwed commented on #46
can I try this? :)

[2018-02-22 05:30] RomchyFCC commented on #46
Thank you for handling the issue @danielleshwed

[2018-02-22 05:30] #46 closed

[2018-02-22 12:31] h1tag commented on #33
I will give this a shot.

[2018-02-22 12:51] h1tag commented on #30
@RomchyFCC can I change the background image again?

[2018-02-22 16:16] RomchyFCC commented on #33
No problem, let's see what you make :)

[2018-02-22 17:57] DarrenfJ commented on #33
thanks @h1tag, will close the issue out

[2018-02-22 17:57] #33 closed

[2018-02-22 18:16] RomchyFCC commented on #43
This issue was resolved by @Sacheec47, Thanks!

[2018-02-22 18:16] #43 closed

[2018-02-22 18:23] RomchyFCC opened #50 "Change text color or text shadow"
The title sums it up well,
change the text color of the names that are poorly visible on our new background image.

How you target the text is up to you.
Possible choices include `* {}`, `body {}`, `p {}`, `a {}`.

How to change the text is up to you aswell, you could either use `text-shadow`, `color` or even `background-color` of the text.

Good luck!

[2018-02-22 18:30] h1tag commented on #33
@RomchyFCC about the image: I was thinking about changing it, then changed my mind (but maybe I will still change it later). But thanks for the reply anyway.

I am still pretty much a beginner on Github, plus I haven't used it in a while, so these issues are giving me a good practice. Keep up the good work @RomchyFCC and @DarrenfJ . Thanks.

[2018-02-23 20:04] DarrenfJ opened #51 "Contribute tips to our tips section and another newbie-friendly project"
If you are posting git tips here, think about contributing also on the front-end-bible project

https://forum.freecodecamp.org/t/front-end-bible-contribute-on-github-and-learn/175660

https://github.com/JABedford/Front-End-Bible

[2018-02-24 13:24] RomchyFCC opened #53 "How could this repository be improved?"
First of all, I would like to thank all our contributors, with every contribution, you make this project infinitely better.
I would also like to thank @DarrenfJ, without his efforts to make this project as visible to the community as it is, I don't think we would get this far.

That being said, I want to know what are some of your thoughts on the project and how can we improve it?

I am striving t

[2018-02-25 00:59] DarrenfJ commented on #53
I'm always someone who is big on training. Part of my background is in that field.

I would like something akin to a base website that explains the concept, along with a guide custom made for adding you name.. something super _newbie_

website would be something like this: http://www.100daysofcode.com/

a base site where we launch people into the guides etc. Doesn't have to look like that but you

[2018-02-28 06:38] GoddessMaat commented on #53
Thank you for your patience more details comming

[2018-02-28 15:14] mills3 commented on #50
I'll add some styles to Firuz Shoev to make it more visible, if nobody else wants it?

[2018-02-28 15:21] RomchyFCC commented on #53
I already made some changes, added a contributors list at the bottom of the readme and an in-file link to it at the top, also added a link to the page we have built so far so every one can see where we are at.
Refactored the to do list for contributing, would be awesome if someone else besides me tries it and let's me know if anything is missing or if they got stuck.

[2018-02-28 17:50] RomchyFCC commented on #50
Nice, thanks!
I'll keep the issue up because we have one more name to fix.

[2018-03-04 02:32] DarrenfJ commented on #53
I can poke the forum again on it.. create an issue to test it out

[2018-03-04 02:37] GoddessMaat commented on #53
I really wish this was simple im trying to install nodejs but yes please
keep helping me i have a meeting on Monday with a programmer hopefully
he'll help me with this

On Mar 3, 2018 9:32 PM, "Darren" <notifications@github.com> wrote:

[2018-03-04 18:43] mukul7 commented on #34
I wan't to work on this. :)

[2018-03-05 02:14] DarrenfJ commented on #34
@G <https://github.com/GoddessMaat>oddessMatt @mukul7

Find a place to add you name on the webpage.. follow the read.me (fork the
repo, clone it to your desktop, do your changes, and do a pull request to
have it merged back into the main site)..

https://github.com/RomchyFCC/GitHub-Practice-For-All/blob/master/README.md

On Sun, Mar 4, 2018 at 1:43 PM, mukul7 <notifications@github.com> wrote:

[2018-03-05 07:14] RomchyFCC commented on #53
What exactly do you need help with @GoddessMaat ?

[2018-03-06 19:00] #53 closed

[2018-03-06 19:21] DarrenfJ opened #59 "Need someone to test changes to the readme guide"
this is from issue 53

https://github.com/RomchyFCC/GitHub-Practice-For-All/issues/53

"I already made some changes, added a contributors list at the bottom of the readme and an in-file link to it at the top, also added a link to the page we have built so far so every one can see where we are at.
_Refactored the to do list for contributing, would be awesome if someone else besides me tries it and

[2018-03-07 01:39] JChao7 commented on #59
Looks good!

[2018-03-07 14:45] h1tag commented on #59
I'm up for it.

[2018-03-07 15:20] DarrenfJ commented on #59
@h1tag awesome, give it a go

Thanks in advance

[2018-03-07 17:37] DarrenfJ opened #61 "Indent bullet points to more match numbers in rest of readme"
from the read me ( https://github.com/RomchyFCC/GitHub-Practice-For-All/blob/master/README.md )

as seen in this screen shot. Bullet points need to be indented from the numbers:

![image](https://user-images.githubusercontent.com/13170765/37108104-2801f22e-2204-11e8-879e-511c7732f5d6.png)

[2018-03-07 21:35] mills3 opened #62 "Change the layout to work on mobile"
Am i allowed to create issues? I think we should use CSS GRID to make the site look awesome on phones(...already done it, making pull request now!)

[2018-03-08 07:39] RomchyFCC commented on #62
Of course! Anything that would fit the theme of what we do here is a good issue. Thanks!

[2018-03-08 07:39] #62 closed

[2018-03-08 07:43] RomchyFCC commented on #50
This is now fixed, thanks @mills3 !

[2018-03-08 07:43] #50 closed

[2018-03-08 08:22] BIngZL1983 commented on #61
correct me if I am wrong.  You want me to create a html file for this list, right?

[2018-03-08 08:49] BIngZL1983 commented on #61
Hi @Darrenfj

I have finished this issue. I will push my work tomorrow night. What I did was I created an un-ordered list, <ul></ul>, for those two bullet point within the second item in an ordered list, <ol></ol>.

Hope that is something you are looking for.
Thank you for this opportunity. :)

[2018-03-08 11:05] h1tag commented on #59
@DarrenfJ is there changes in the steps (changed/added/removed steps)? Because I've already did some the steps in the guide (because I've contributed to this repo before), and I want to see if I have to redo some of the steps.

[2018-03-08 13:23] RomchyFCC commented on #61
@BIngZL1983 The issue was already fixed by @heyAyushh, sorry I didn't respond sooner, I have been super busy. All we needed was another space, 1 space indentation was not enough. :)

[2018-03-08 13:23] #61 closed

[2018-03-08 16:34] DarrenfJ commented on #61
@RomchyFCC @BIngZL1983  sorry missed it too got caught up in stuff last night..

[2018-03-09 08:12] RomchyFCC commented on #59
Yes, we made some changes to make it more descriptive and easier to follow(i hope). Great idea, we should make a section for those who have already made a PR

[2018-03-13 18:50] RomchyFCC commented on #59
Ok, I think that's it. Thank you @h1tag for finding info holes and proposing the fixes!

[2018-03-13 18:50] #59 closed

[2018-03-13 18:51] RomchyFCC commented on #51
Let me know if you are still up for moving the projects courses over to their repo

[2018-03-14 11:20] RomchyFCC opened #70 "JavaScript event listener"
Add an event listener to the sunshine.svg element which would make it disappear again after clicking it.

The sunshine element currently displays when a user click anywhere on the page but it is then stuck there.
use methods like `const img = document.querySelector('img')` or `document.getElementById('<img id>')` and then add an event listener like `img.addEventListener('click', function(){ })`

I

[2018-03-17 08:22] #51 closed

[2018-03-17 08:24] RomchyFCC opened #71 "Time to move! 1/5"
Let's start building a project!

We need to remove the guides folder.
Best idea would be to move it to https://github.com/JABedford/Front-End-Bible

Now that the guides are there, link it back to this project.
Put a link in the readme section,
example: For more in-depth information check out the guides here: <link>

[2018-03-17 08:26] RomchyFCC opened #72 "Time to move! 2/5"
We will also move files and make some renames.

Let's rename `index.html` to `contributors.html`.

Now that that is done we need to link the contributors.html back to index.html so when some one opens up our project, they can click contributors link and see everyone that contributed.

One way to do it:
`<a href="./contributors.html">Contributors</a>`

[2018-03-17 08:30] RomchyFCC opened #73 "Time to move! 3/5"
Now that we have contributors.html we need a style sheet for contributors aswell.

Create a new folder for our style sheets named `style`.
Now rename `style.css` to `contributors.css` and put it in the folder.
Go to the contributors.html and link the style sheet back to it, example: <link href="./style/contributors.css">

For extra points: Create a new `style.css` sheet and link it back to `index.

[2018-03-17 08:33] RomchyFCC opened #74 "Time to move! 4/5"
Html done, css done, let's do the scripts next.

We need a `scripts` folder, create one.
Now put the current javascript file in it and rename it `contributors.js`.
When that is done, go into contributors.html and link the js file back to it, example:
`<script src="./scripts/contributors.js"></script>`

Extra points: Create a new javascript file and link it back to index.html, we will need it later

[2018-03-17 08:36] RomchyFCC opened #75 "Time to move! 5/6"
Use this issue to throw around ideas about what we should build, I have some ideas of my own, but that's no fun.
Type your idea below and the idea that gets the most emotes will be used.
I will let this run for ~2 weeks so everyone has a chance to participate.

In the meantime focus on other issues.

[2018-03-17 08:37] RomchyFCC commented on #75
My idea: Fire Department Website
We would make a front end website for a random fire department or a mix of many.
We would create image galleries from their missions, an update page, about the department, etc.

[2018-03-20 11:57] h1tag commented on #70
I'll take this one! :smile:

[2018-03-20 12:47] dar-puch commented on #72
can I take this one?

[2018-03-20 16:01] RomchyFCC commented on #72
of course, go for it. the issue is up for grabs :D

[2018-03-21 05:31] RomchyFCC commented on #72
One of the steps complete, thanks @dar-puch !

[2018-03-21 05:31] #72 closed

[2018-03-22 19:15] mills3 commented on #75
I thought about a Learn Basic Sign Language website, but I keep thinking of problems (the main one being I don't know sign language!)  So instead:
A Golf Club Website.
Similar to RomchyFCC's idea, images of the club house and golf course.
Maybe a membership section with different deals/prices.
Some kind of leaderboard for the leading golfers.

[2018-03-22 19:25] mills3 commented on #73
I'll do this tonight

[2018-03-23 04:57] RomchyFCC commented on #73
Yes, your instinct was great! Thanks for resolving the issue.

[2018-03-23 04:57] #73 closed

[2018-03-23 04:58] RomchyFCC commented on #71
I'll take this one as it's not really code related.

[2018-03-23 05:35] #71 closed

[2018-04-02 13:39] h1tag commented on #70
@RomchyFCC didn't notice you upvoted my comment. I was waiting for someone's approval to start. I'll start working on it ASAP.

[2018-04-02 15:03] RomchyFCC commented on #70
@h1tag you don't need our permission :) and no worries, take your time, I'm excited to see how you make it

[2018-04-03 06:50] h1tag commented on #70
@RomchyFCC

More info here 74

You mean I should work on issue #74 first, then on this one?

[2018-04-03 08:15] RomchyFCC commented on #70
No, not at all, it just means you should work on contributors.js instead of
index.js

On Tue, Apr 3, 2018, 8:50 AM h1tag <notifications@github.com> wrote:

[2018-04-03 09:11] h1tag commented on #70
@RomchyFCC but there's still no contributors.js file in this repo. So, I have to work on that issue first (I will have to create a contributors.js file ...), right?

[2018-04-03 11:39] RomchyFCC commented on #70
Oh right, yes, in that case create a new file and i think thats it for that
issue so you can do both then

On Tue, Apr 3, 2018, 11:11 AM h1tag <notifications@github.com> wrote:

[2018-04-03 13:15] RomchyFCC commented on #75
I will shortly be closing this issue, around~1 week, just enough to start popping up new issues and for everyone who is interested to see what we are up to,

I concede my idea for a fire department website because I absolutely love the idea of a golf club website and before we start this project, let's build a landing page for this project.

@DarrenfJ suggested this so I will let him lead the char

[2018-04-08 09:43] RomchyFCC commented on #74
Thanks @h1tag for fixing the issue!

[2018-04-08 09:43] #74 closed

[2018-04-08 16:31] RomchyFCC commented on #70
Thanks to @h1tag for resolving this issue!

[2018-04-08 16:31] #70 closed

[2018-04-12 03:56] DarrenfJ opened #90 "Create a Container for a Nav Bar"
Create a Container for a Nav Bar at the top of the page. I leave it up to you how to style it..

tips: https://css-tricks.com/navigation-in-lists-to-be-or-not-to-be/

for now leave this code alone as it links to our page with contributor names. later we will jazz it up..

[code]

after the closing `</div>` you can add another div.
Clone it off of the http://www.100daysofcode.com/ site

or at least

[2018-04-12 05:35] vignesh240 commented on #90
I would like to do this @DarrenfJ

[2018-04-12 05:43] DarrenfJ commented on #90
@vignesh240 consider it your!

[2018-04-12 08:44] RomchyFCC commented on #90
Thank you @vignesh240 for resolving the issue

[2018-04-12 08:44] #90 closed

[2018-04-17 05:41] DarrenfJ opened #93 "user should be able to link to parts of the page based off the nav bar"
Nav bar has the following links:

Contributors - leave this one for now, it links to our contributor page
About
Connect
Contact
FAQ
Resources

Need to set up 'containers' on page for each of these sections.

One idea, do it as a <div> with a title as ID. Later we will build out each section with content. And add scrolling on the same page.

For now it can be an empty shell.. or user lorum ipsen te

[2018-04-18 00:12] DarrenfJ opened #95 "users, when they navigate to the resources section, can link to resources"
Nav bar on top of page can link to a container on the page that includes additional links to various resources

Resources should include: DevDocs, the sibling project (aka the Front End Bible), and the fCC library

dev docs url:
https://devdocs.io/

our sibling project's url:
https://github.com/JABedford/Front-End-Bible

fCC library url:
https://guide.freecodecamp.org/

don't worry too much about

[2018-04-18 06:42] RomchyFCC commented on #93
Thanks for resolving the issue @OnlinePseudonym

[2018-04-18 06:42] #93 closed

[2018-04-20 18:18] RomchyFCC opened #96 "project drop-down menu"
We need a way to show off what we will build in the future.

Let's create a new navigation link (like contributors) that when clicked a dropdown menu appears with projects as links.

For now let's keep it simple:
navigation button name should be "Projects" and when clicked let's display an unordered list of projects, i.e.: `<ul><li><a href="#">project one</a></li><li><a href="#">project two</a></l

[2018-04-20 18:26] DarrenfJ opened #97 "user should be able to goto a section with instructions on how to add their name to the project.. and include a link to contributors page"
user should be able to goto a section with instructions on how to add their name to the project.. and include a link to contributors page..

our main website is now going to be an intro page to the project

https://romchyfcc.github.io/GitHub-Practice-For-All/

it has a link in the top nav bar that takes you to the original project. The original project was a webpage that people added their name to

[2018-04-20 22:28] geekiam23 commented on #97
Can I take a shot at it?

[2018-04-21 16:51] DarrenfJ commented on #97
@geekiam23 definitely!

[2018-04-23 13:09] mGrossSRT commented on #96
Is it still an open issue? I could grab it by tonight if that's ok for you?

[2018-04-23 17:59] DarrenfJ commented on #96
Yup, as far as I now @mGrossSRT , it's still outstanding!

Go for it!

D

[2018-04-24 06:30] RomchyFCC commented on #97
@geekiam23 thanks for resolving the issue

[2018-04-24 06:30] #97 closed

[2018-04-26 18:08] chantellerobinson commented on #95
Hello, is this still an open issue please? If so, would it be possible for me to try tackle it?

Many thanks.

[2018-04-26 18:33] RomchyFCC commented on #95
Of course it's open, go for it! Thank you

[2018-05-09 10:01] DarrenfJ opened #102 "content creation"
descriptions for about, for FAQ's etc can all be pulled from the main page read.me

https://github.com/RomchyFCC/GitHub-Practice-For-All/blob/master/README.md

to fill out the lorum parts of our landing page: https://romchyfcc.github.io/GitHub-Practice-For-All/

[2018-05-14 17:43] lsurasani commented on #102
Hi, I'm new to open source, looking for my first contribution -- is this still open/if so can I take it?

[2018-05-14 17:46] lsurasani commented on #96
Hi, is anyone still working on this issue? If not, I'd love to take a look!

[2018-05-14 17:57] DarrenfJ commented on #96
@lsurasani there's been no action since @mGrossSRT asked to grab it...

@mGrossSRT are you still interested? If not @lsurasani can take it on..

[2018-05-14 17:58] DarrenfJ commented on #102
@lsurasani yes definitely open! If you look at our main page here: https://romchyfcc.github.io/GitHub-Practice-For-All/

It's all still filler text. Any write-up that explains/supports the project would help..

More info is in the forum post (fCC forum). Will source a link if you are interested..

[2018-05-14 18:01] lsurasani commented on #102
Sounds great! Link would be appreciated.

[2018-05-14 18:14] DarrenfJ commented on #102
https://forum.freecodecamp.org/t/git-and-github-practice-for-all-us-noobies/171808

most of the history of the project..

[2018-05-14 19:40] lsurasani commented on #102
Thanks! Any idea for what I should write for "Contact"?

[2018-05-14 20:17] DarrenfJ commented on #102
hmm.. good point.. @RomchyFCC should we set up a generic gmail account and have that email available?

[2018-05-15 04:45] RomchyFCC commented on #102
I think e-mail should be last resort, we have gitter, twitter and github, plenty of choices to choose from, what do you think?

[2018-05-15 04:58] DarrenfJ commented on #102
Yah We could put our user names and say hit us up in the forum?

On Tue, May 15, 2018 at 12:45 AM, Roman Struna <notifications@github.com>
wrote:

[2018-05-15 20:16] lsurasani commented on #102
is that the fcc forum?

[2018-05-17 18:36] RomchyFCC commented on #102
Thank you @lsurasani for resolving the issue!

[2018-05-17 18:36] #102 closed

[2018-05-17 23:02] Zach048 commented on #95
Hey!

New to open source, is this still open? I'd like to give it a shot.

[2018-05-17 23:55] DarrenfJ commented on #95
You should be able to add something additional to the resources section..
the links suggested are places where additional documentation is included
for various technical topics..

On Thu, May 17, 2018 at 7:02 PM, Zach048 <notifications@github.com> wrote:

[2018-05-18 15:14] leesan11 commented on #96
@DarrenfJ Hello! I am new to contributing. Would you mind if I try? I want try to make the code for it for practice. I don't mind if it isn't merged onto it. It's the practice that I really want!

[2018-05-18 15:34] DarrenfJ commented on #96
Looks like it hasn't been touched yet.. so give it a go!

Also, feel free to add your name to the Contribution read.me but also the contributors page: https://romchyfcc.github.io/GitHub-Practice-For-All/contributors.html

[2018-05-18 16:33] leesan11 commented on #96
@DarrenfJ Thank you so much!

[2018-05-18 20:53] RomchyFCC commented on #95
Thanks for resolving this issue @Zach048 !

[2018-05-18 20:53] #95 closed

[2018-05-18 20:55] RomchyFCC commented on #96
Thanks for resolving the issue @leesan11 !

[2018-05-18 20:55] #96 closed

[2018-06-03 18:19] rddravic commented on #34
@DarrenfJ : Hi, I would like to give my contributions. I'm a beginner. I have created a PR. Could you please review it.

[2018-07-10 18:35] RomchyFCC opened #112 "Let's make a project 1 - Top slider"
Hey folks, sorry for the huge inactivity.
I won't go into to much detail so let's say, I've been busy at work and had some personal issues.

Anyway, here is our next project!!!!
We will copy [this webpage](https://victorhills.com/), the frontend part of it, so we can host it on github.
Use it as guidance if you'd like or try to hit the golfing theme in your design :)

We will split this into more

[2018-07-10 18:38] RomchyFCC opened #113 "Let's make a project 0 - Give me some space"
We are copying [this site](https://victorhills.com/), use it as guidance if you'd like or try to hit the golfing theme in your design :)

For this issues you should do the following:
  - create a folder with the name of the project in the root folder
  - put an empty script.js file inside the folder
  - put an empty style.css file inside the folder
  - put an index.html file inside the folder and

[2018-07-10 18:41] RomchyFCC opened #114 "Let's make a project 2 - What's on the menu"
We are copying [this site](https://victorhills.com/), use it as guidance if you'd like or try to hit the golfing theme in your design :)

For this issue you should do the following:
  - create a full-width menu with links to other pages
  - all links can be # except for the "home" link
  - home link should link back to the top of the main page
  - a logo should be added, you could use [this](https

[2018-07-10 18:50] RomchyFCC opened #115 "Let's make a project 3 - You have been called to action"
We are copying [this site](https://victorhills.com/), use it as guidance if you'd like or try to hit the golfing theme in your design :)

Under the menu, there are 3 hero images spanned to 100% width, you can ignore the first one.
Let's create the "Learn More" CTA (call to action button) under the menu.
Here is how it should look:
  - I can click a button that leads me nowhere (for now)
  - as I s

[2018-07-10 18:54] RomchyFCC opened #116 "Let's make a project 4 - So many courses"
We are copying [this site](https://victorhills.com/), use it as guidance if you'd like or try to hit the golfing theme in your design :)

We are going to copy the "Our courses" section in this issue. The code should have the following functionality:
  - I see a courses section above the footer
  - All courses have their own image of a golf course
  - All courses have a button that doesn't link any

[2018-07-10 18:57] RomchyFCC opened #117 "Let's make a project 5 - Full contact sport"
We are copying [this site](https://victorhills.com/), use it as guidance if you'd like or try to hit the golfing theme in your design :)

Create a footer that has the following functionality:
  - I can see contact details about our courses (details should be made up)
  - details should contain a phone number for reservations and an address
  - there should be a list of our social media accounts (i

[2018-07-10 18:59] RomchyFCC opened #118 "Let's make a project 6 - Mini me"
We are copying [this site](https://victorhills.com/), use it as guidance if you'd like or try to hit the golfing theme in your design :)

Let's create the mobile version of other issues. This issue should be tackled when other ones are completed.
  - no rules, give mobile version of the site your best shot and use the example as guidance :)

[2018-07-10 19:04] RomchyFCC opened #119 "Let's make a project 7 - The finishing touch"
We are copying [this site](https://victorhills.com/), use it as guidance if you'd like or try to hit the golfing theme in your design :)

When the project is done, I will host it on github pages, so we can link to it from our homepage.
  - when I click the menu tab for Projects [here](https://romchyfcc.github.io/GitHub-Practice-For-All/#), I should see, 1. Golf club site, 2. Project 2
  - when the

[2018-07-16 08:33] h1tag commented on #113
I'll take this one.

[2018-07-16 21:34] RomchyFCC commented on #113
Thank you @h1tag glad to see you're still with us :)

[2018-07-16 21:34] #113 closed

[2018-07-16 21:36] DarrenfJ commented on #113
great work guys on keeping it alive!

[2018-07-19 19:33] mills3 commented on #112
Good to see you back Romchy, I'll have a go at this one

[2018-07-20 00:16] RomchyFCC commented on #112
It's good to be back! Go ahead, thanks :)

[2018-07-21 20:00] mills3 commented on #112
Hey, can or should we push video files to Github? I just pushed an mp4 and webm file ( about 75mb ) and it took several minutes.

[2018-07-21 20:09] mills3 commented on #112
*UPDATE*  It seems that file limit is 100mb but will every fetch and push take minutes from now on?

[2018-07-22 01:49] RomchyFCC commented on #112
Nah, just the first one, omce the file is the folder locally it will auto
be tracked and just moved, but great that you took that into consideration.
I'm excited to see what you created :)

On Sat, Jul 21, 2018, 10:09 PM Alan Moir <notifications@github.com> wrote:

[2018-07-25 21:00] RomchyFCC commented on #112
This was done fast thanks to @mills3 it looks absolutely amazing!!!

[2018-07-25 21:00] #112 closed

[2018-08-15 16:03] h1tag commented on #114
I'm not sure I can do all the requirements for this issue, but I'll try :)

[2018-08-19 09:00] RomchyFCC commented on #114
Hey, sorry for the late reply, I was on vacation. Try your best, if it doesn't work out you can ask me to help you or anyone else really (people are so kind here :smile: ) or you can just submit the work you have done and I'll edit the issue for the next contributor.

[2018-08-29 18:35] eribertt commented on #114
First timer here tld'r but how does this work?

[2018-08-29 19:15] RomchyFCC commented on #114
Hey, how does what work?

[2018-09-03 20:15] sumit9696 commented on #34
Can i take this issue?

[2018-09-04 08:39] RomchyFCC commented on #34
Of course, this is a general issue that is available for everyone! :)

On Mon, 3 Sep 2018 at 22:15, Sumit Singh <notifications@github.com> wrote:

[2018-10-23 18:55] #114 closed

[2018-10-23 19:00] RomchyFCC commented on #114
Thanks @andirobinson for fixing this issue!

[2018-10-25 12:53] espressoj commented on #34
I would like to contribute to this issue. Thank you for making this available to those new to GitHub, DarrenfJ!  And just in case you're a hockey fan, "Go Leafs Go!"

[2018-10-30 18:32] DarrenfJ opened #149 "Hacktoberfest PR's - add your name to contributors list!"
this is the first-timers-only issue.

feel free to add  as per [the instructions](https://github.com/RomchyFCC/GitHub-Practice-For-All/blob/master/README.md) on the read-me

EDIT: Roman here, this is now a part of **contributors.html** More info here: [#72](https://github.com/RomchyFCC/GitHub-Practice-For-All/issues/72)

[2018-11-04 09:06] #149 closed

[2018-11-04 09:38] DarrenfJ commented on #149
Thanks everyone for joining in for Hacktoberfest!

And thanks @RomchyFCC for all the merging 👍

[2019-10-04 18:22] Mayank-dev-commits commented on #34
I want to contribute

[2019-10-16 05:35] beatrizsmerino commented on #34
Hi. I contributed in two issues and I would like know if it is right. I'm a beginner and this is my PR. Could you please review it?

[2020-08-29 04:27] POOJAPRABHU450 commented on #34
Hi,i am a beginner.I have created PR.Please add it.

[2020-10-24 10:19] ArshdeepSingh98 commented on #34
Hi, can I contribute to this?